body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.block {
    background-color: #f0f0f0;
    margin: 20px;
    padding-bottom: 10px;
}

.block h1 {
    text-align: center;
}

.mainblock {
    background-color: #90ee90;
    opacity: 0.5;
    padding-left: 150px;
}

.mainblock a {
    margin: 20px;
    width: 100%;
    display: inline;
    justify-content: center;
}

.header {
    background-color: #90ee90;
    margin: 20px;
}

.header p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
