{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create new page</h1>
    <hr>

    <form action="{% url 'createnewpage' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Title: <input type="text" name="givetitle" placeholder=""></p>
        <p><label for="createnewpage">Enter text:</label></p>
        <textarea id="createnewpage" name="givetext" row="100" col="50"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
