{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <div class="block">
        <h1>Welcome to Wikipedia</h1>
    </div>
    <div class="header">
        <p>From today's featured articles</p>
    </div>
    <div class="mainblock">
        <a href="{% url 'createnewpage' %}">
            <img src="/static/encyclopedia/csslogo.jpg" alt="CSS Logo" width= 200px height=300px>
        </a>
        <a href="{% url 'createnewpage' %}">
            <img src="/static/encyclopedia/htmllogo.jpg" alt="HTML Logo" width= 200px height=300px>
        </a>
        <a href="{% url 'createnewpage' %}">
            <img src="/static/encyclopedia/pythonlogo.jpg" alt="Python Logo" width= 200px height=300px>
        </a>
    </div>

{% endblock %}
